* {
  font-family: "Times New Roman", Times, serif;
  margin: 0; 
  padding: 0;
}

h1 {
  color: black;
  text-shadow: 0 0 15px #FFFFFF, 0 0 5px #ffffff;
  text-align:center;
  font-size:48px;
  background-image: linear-gradient(Blue,Green,Yellow);
  font-weight: bold;
  }
body {
  background-color: Black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
ul li a.active {
  background-color: #04AA6D;
}
