* {
  font-family: "Times New Roman", Times, serif;
  margin: 0; 
  padding: 0;
}

h1 {
  color: black;
  text-shadow: 0 0 15px #FFFFFF, 0 0 5px #ffffff;
  text-align:center;
  font-size:48px;
  background-image: linear-gradient(Blue,Green,Yellow);
  font-weight: bold;
  }
body {
  background-image: Black;
}
