
* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: black;
  text-shadow: 0 0 15px #FFFFFF, 0 0 5px #ffffff;
  font-size: 48px;
  background-image: linear-gradient(Blue, Green, Yellow);
  font-weight: bold;
  padding: 20px 0;
}

.topnav {
  background-color: #333;
  display: inline-flex;       /* shrink-wrap to content */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
  top: 0;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
  }

  .topnav a {
    padding: 12px;
    border-top: 1px solid #444;
  }
}
